@import "_variables.scss";

.header {

    margin-top: 65px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        font-weight: 700;
        font-size: 24px;
        color: $heading;
    }

    .nav {

        display: flex;
        align-items: center;

        &__link {
            color: $grey;
            font-weight: 500;
            font-size: 18px;
            opacity: .4;
            margin-right: 30px;
            text-decoration: none;
            align-items: center;

            &--icon {
                font-size: 16px;
                align-items: center;
            }
        }
    }
}