@import "_variables.scss";



.intro_container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.intro {

    &__inner {
        margin-top: 93px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    &__title {
        font-weight: 700;
        font-size: 72px;
        color: $heading;
        margin-bottom: 37px;
        letter-spacing: -1px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 22px;
        padding: 0 60px;
        opacity: .4;
        text-align: center;
        line-height: 32px;
        color: $grey;
        margin-bottom: 80px;
    }

    &__link {
        color: $primary;
        font-size: 18px;
        margin-bottom: 30px;
    }
}